'use strict';

module.exports = {
    jwt: {
      secret: 'yoursecretkey',
      options: {
        expiresIn: '2 days'
      }
    },
    app: {
      imagesURLBasePath: '/images/app/',
      imageLogoDate: "icons8-calendar-50.png"
    },
    db: {
      appointments: {
        appointmentsListPublicFields: '_id service customer professional isConfirmed isCancelled date latitude longitude address extraInfo',
        appointmentPublicFields: '_id service customer professional isConfirmed isCancelled date latitude longitude address extraInfo',
        appointmentPrivateFields: '_id service customer professional isConfirmed isCancelled date latitude longitude address extraInfo'
      },
      blogs: {
        blogsListPublicFields: '_id professional customer name description creationDate',
        blogPublicFields: '_id professional customer name description creationDate',
        blogPrivateFields: '_id professional customer name description isVisible creationDate publicationDate'
      },
      notifs: {
        notifsListPublicFields: '_id professional customer name description sendingDate',
        notifPublicFields: '_id professional customer name description sendingDate',
        notifPrivateFields: '_id professional customer name description isSent creationDate sendingDate'
      },
      products: {
        productsListPublicFields: '_id professional name description price isActive',
        productPublicFields: '_id professional name description price isActive',
        productPrivateFields: '_id professional name description price isActive'
      },
      services: {
        servicesListPublicFields: '_id professional name description price isActive',
        servicePublicFields: '_id professional name description price isActive',
        servicePrivateFields: '_id professional name description price isActive'
      },
      users: {
        usersListPublicFields: '_id isProfessional name lastName registrationDate',
        userPublicFields: '_id isProfessional name lastName registrationDate',
        userPrivateFields: '_id isProfessional fellowshipNumber gender name lastName email address phone birthDate nationalId registrationDate lastLoginDate'
      }
    }
};

module.exports.SEED = 'yourcustomseed';

// Google
module.exports.GOOGLE_CLIENT_ID = 'YourCustomClientId.apps.googleusercontent.com';
module.exports.GOOGLE_SECRET = 'YourCustomSecret';
