'use strict';

module.exports = {
    jwt: {
      secret: 'yoursecretkey',
      options: {
        expiresIn: '2 days'
      }
    },
    app: {
      imagesURLBasePath: '/images/app/',
      imageLogoDate: "icons8-calendar-50.png"
    }
};

module.exports.SEED = 'yourcustomseed';

// Google
module.exports.GOOGLE_CLIENT_ID = 'YourCustomClientId.apps.googleusercontent.com';
module.exports.GOOGLE_SECRET = 'YourCustomSecret';
